{
	"printWidth": 100,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "crlf",
	"tabWidth": 2,
	"bracketSameLine": false
}
